---
// src/pages/gallery.astro
import Layout from '../layouts/Layout.astro';
export const prerender = true;

import pictureone from '@images/0.JPEG';
import picturetwo from '@images/1.JPEG';
import picturethree from '@images/2.JPEG';
import picturefour from '@images/3.JPEG';
import picturefive from '@images/4.JPEG';
import picturesix from '@images/5.JPEG';
import pictureseven from '@images/6.JPEG';
import pictureeight from '@images/7.JPEG';

import pictureten from '@images/9.JPEG';
import pictureeleven from '@images/10.JPEG';

// In a real application, you'd likely fetch this data from an API or CMS
const galleryItems = [
  {
    id: 1,
    src: pictureone.src,
    alt: 'Lock Off-Road Wheels and Off-Road tires',
    category: 'Wheels',
  },
  {
    id: 2,
    src: picturetwo.src,
    alt: 'New tires for delivery',
    category: 'Tires',
  },
  {
    id: 3,
    src: picturethree.src,
    alt: 'Pickup truck tires for delivery',
    category: 'Tires',
  },
  {
    id: 4,
    src: picturefour.src,
    alt: 'Off-road tires for delivery',
    category: 'Tires',
  },
  {
    id: 5,
    src: picturefive.src,
    alt: 'The warehouse',
    category: 'Tires',
  },
  {
    id: 6,
    src: picturesix.src,
    alt: 'DRW Rims for a customer',
    category: 'Wheels',
  },
  {
    id: 7,
    src: pictureseven.src,
    alt: 'Boxes of rims for delivery',
    category: 'Wheels',
  },
  {
    id: 8,
    src: pictureeight.src,
    alt: 'Stack of tires',
    category: 'Tires',
  },

  {
    id: 10,
    src: pictureten.src,
    alt: 'Lock Off-Road rims for a customer',
    category: 'Wheels',
  },
  {
    id: 11,
    src: pictureeleven.src,
    alt: 'New tires for delivery',
    category: 'Tires',
  },
];

const seo = {
  title: 'Gallery | Go Go Wheels and Tires',
  description:
    'Browse our gallery of discount tires and wheels in Phoenix. See top brands, the warehouse, and previous orders. View our five star service and get a free quote today',
};
---

<Layout seo={seo}>
  <main class='container mx-auto px-4 py-8'>
    <h1 class='text-4xl font-bold text-center mb-8'>Check out our work</h1>

    <p class='text-xl text-center mb-12'>
      These are pictures from previous orders and customers
    </p>

    <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6'>
      {
        galleryItems.map((item) => (
          <div class='gallery-item overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-105'>
            <img
              src={item.src}
              alt={item.alt}
              class='w-full h-80 object-cover'
              loading='lazy'
            />
            {/* <div class='p-4 bg-white'>
              <h3 class='text-lg font-semibold'>{item.category}</h3>
              <p class='text-sm text-gray-600'>{item.alt}</p>
            </div> */}
          </div>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .gallery-item {
    cursor: pointer;
  }
</style>
