---
import Phone from './FeatureIcons/Phone.astro';

const socialLinks = [
  { name: 'instagram', url: 'https://instagram.com/gogowheelsaz' },
];

const phoneNumber = '480-331-9151';
---

<nav class='bg-white shadow-md'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex items-center justify-between h-16'>
      <!-- Logo -->
      <div class='flex-shrink-0'>
        <img class='h-16 w-auto' src='/go-go-logo.svg' alt='Company Logo' />
      </div>

      <!-- Phone number - hidden on mobile, visible on larger screens -->
      <div class='hidden sm:flex items-center'>
        <a
          href={`tel:${phoneNumber}`}
          class='text-gray-600 hover:text-gray-900 flex'
        >
          <Phone name='phone' class='inline-flex w-5 h-5 mr-2' />
          <span>{phoneNumber}</span>
        </a>
      </div>

      <!-- Social Links -->
      <div class='flex items-center space-x-4'>
        {
          socialLinks.map((link) => (
            <a
              href={link.url}
              target='_blank'
              rel='noopener noreferrer'
              class='text-gray-400 hover:text-gray-500'
            >
              <span class='sr-only'>{link.name}</span>
              <img src='/instagram.svg' class='h-6 w-6' />
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Mobile phone number - visible only on small screens -->
  <div class='sm:hidden bg-gray-50 border-t border-gray-200 px-4 py-2'>
    <a
      href={`tel:${phoneNumber}`}
      class='flex items-center justify-center text-gray-600 hover:text-gray-900'
    >
      <Phone name='phone' class='inline-block w-5 h-5 mr-2' />
      <span>{phoneNumber}</span>
    </a>
  </div>
</nav>
